<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
      <!-- Sample Specific Values: Provided by CCG -->
      <add key="InventoryID" value="GREENMTCOFFEE20160114" />
      <add key="AccessKey" value="342nr79fdele94" />
      <add key="Source" value="1" />
      <add key="AgeLimit" value="18" />
      <add key="CloseButtonURL" value="http://keurigstage.skavaone.com"/>
      <add key="ReturnLinkURL" value="http://keurigstage.skavaone.com"/>

      <!-- Environment Mode: Set LIVE or DEV -->
      <add key="Environment" value="DEV"/>
      
      <!-- SourceTag: format of which source tags are identified on the querystring -->
      <add key="SourceTag" value="source" />

      <!-- SecondsExpiration: The length of time the cache is being maintained -->
      <add key="SecondsExpiration" value="5"/>

      <!-- ImagePath: The root URL path where images are hosted -->
      <add key="ImagePath" value="/Images"/>

      <!-- AddressValidationEndPoint: Endpoint of the AddressValidation web service.  Please update to production endpoint when going live -->
      <add key="AddressValidationEndPointDev" value="http://dev-samplemetrics-api.safeprocessing.com/pii.asmx/AddressValidation"/>
      <add key="AddressValidationEndPointLive" value="https://samplemetrics-api.safeprocessing.com/pii.asmx/AddressValidation"/>

      <!-- Descriptions For Variant Offers - Identified by CCGSKU -->
      <add key="Description_1000" value="This light roast blends a crisp, citrusy Central American coffee with the body and depth of an Indonesian bean." />
      <add key="Description_1001" value="One of the our most popular varieties, this medium roast brings together four unique coffees from three continents to create a perfect harmony." />
      <add key="Description_1002" value="A coffee that is deep, dark, and intense.  This dark roast coffee has an intensity and complexity that is perfect with milk or cream." />
      <add key="Description_1003" value="This single-origin light roast is double certified Organic and Fair Trade™, with crisp, cheerful notes of citrus and ginger." />
      <add key="Description_1004" value="Double certified Organic and Fair Trade™, this smooth, medium roast has a caramel sweetness with pops of apple and a cocoa finish." />
      <add key="Description_Default" value="CCGSKU is not recognized." />

      <!-- Sort For Variant Offers - Identified by CCGSKU -->
      <add key="Sort_1000" value="1" />
      <add key="Sort_1001" value="3" />
      <add key="Sort_1002" value="5" />
      <add key="Sort_1003" value="2" />
      <add key="Sort_1004" value="4" />

      
      <!-- Domain Control: set value to "1" to enable-->
      <add key="DomainControl" value="0" />
      <!-- Domain Control Mode: set value to "whitelist" or "blacklist" -->
      <add key="DomainControlMode" value="whitelist" />

      <!-- DomainControlRedirect: this is the URL that the enduser will be redirect to -->
      <add key="DomainControlRedirect" value="http://www.greenmountaincoffee.com" />

      <!-- WhiteList: Comma separated list of domains to be whitelisted -->
      <add key="WhiteList" value="www.greenmountaincoffee.com,greenmountaincoffee.com" />
      
      <!-- BlackList: Comma separted list of domains to be blacklisted -->
      <add key="BlackList" value="www.greenmountaincoffee.com,greenmountaincoffee.com" />

      <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
          <binding name="piiSoap">
              <!--<security mode="Transport">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="Certificate" algorithmSuite="Default" />
              </security>-->
          </binding>
          
      </basicHttpBinding>
      <customBinding>
        <binding name="piiSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev-samplemetrics-api.safeprocessing.com/pii.asmx"
        binding="basicHttpBinding" bindingConfiguration="piiSoap" contract="SampleMetrics.piiSoap"
        name="piiSoap" />
        <!--<endpoint address="https://samplemetrics-api.safeprocessing.com/pii.asmx"
          binding="basicHttpBinding" bindingConfiguration="piiSoap" contract="SampleMetrics.piiSoap"
          name="piiSoap" />-->
    </client>
  </system.serviceModel>
</configuration>