<div id="common-frame">
    <div id="common-frame-copy" class="left">
        <p class="title">Sorry!</p>
        <p class="copy">There seems to be a problem.  A system administrator has been notified.</p>
        <p class="copy">Return to <a href="@System.Configuration.ConfigurationManager.AppSettings["ReturnLinkURL"]" class="link" onclick="FireIBMCreateElementTag('OutboundLink:GMCWebsite', 'CCG_Form', 'CCG_Form', 'OutboundLink:GMCWebsite', 'Mobile:CCG_Form', 'Mobile:CCG_Form');">GreenMountainCoffee.com ></a></p>
        <p class="copy">Return to <a href="/get" class="link">The Offer</a></p>

    </div>
    @Html.Partial("_Common")
</div>
